@import url("https://fonts.googleapis.com/css?family=Poppins:400,600");

.App {
  font-family: sans-serif;
  color: #1b1d28;
  text-align: center;
}

.section {
  max-width: 630px;
  padding: 0 16px;
  margin: 32px auto;
}

.section-title {
  color: #b6b6ba;
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 8px;
}