.hero {
  padding: 140px 0 120px;
  background-color: #1b1d28;
  color: white;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.hero-title {
  font-size: 36px;
}

.hero-description {
  font-size: 18px;
  letter-spacing:0.5px;
}
